
{% include 'base.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
              <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                  <div class="navbar-header">
                      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                      <form role="search" class="navbar-form-custom" method="get" action="">
                      </form>
                  </div>
                  {% include 'base1.html' %}
              </nav>
            </div>
<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style='margin-top:20px;'>
<!--                         <div class="panel-heading">
                           idc信息
                            <button class='btn btn-default' id='addIdc'>添加idc</button>
                        </div> -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                               <p>IT资产审计:</p>
				</br>

                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>厂商</th>
                                            <th>产品型号</th>
                                            <th>序列号</th>
                                            <th>CPU型号</th>
                                            <th>CPU线程</th>
                                            <th>CPU物理核心数</th>
					    <th>内存大小</th>
					    <th>硬盘大小</th>
					    <th>主机名</th>
					    <th>IP地址</th>
					    <th>操作系统</th>
					    <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
        {%for all_asset in all_asset%}
<tr>
	<td>{{all_asset.manufacturer}}</td>
	<td>{{all_asset.productname}}</td>
	<td>{{all_asset.service_tag}}</td>
	<td>{{all_asset.cpu_model}}</td>
	<td>{{all_asset.cpu_nums}}</td>
	<td>{{all_asset.cpu_groups }}</td>
	<td>{{all_asset.mem}}</td>
	<td>{{all_asset.disk}}</td>
	<td>{{all_asset.hostname}}</td>
	<td>{{all_asset.ip}}</td>
	<td>{{all_asset.os}}</td>
	<td>
<span class="btn btn-xs btn-danger"><a href="/asset/asset_delete/?id={{all_asset.id}}" style="color:white"  role="button">删除</a></span>
	</td>
</tr>
        {%endfor%}



            </tbody>
                                </table>

                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
</div>
{% include 'base2.html' %}
</div>
</div>
<div class="modal fade" id='tipModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <!-- jQuery -->
    <script>
    $('#tipModal').on('hide.bs.modal',function(){
        location.reload()
    })
    $(function(){
           var oLanguage={
        "oAria": {
            "sSortAscending": ": 升序排列",
            "sSortDescending": ": 降序排列"
        },
        "oPaginate": {
            "sFirst": "首页",
            "sLast": "末页",
            "sNext": "下页",
            "sPrevious": "上页"
        },
        "sEmptyTable": "没有相关记录",
        "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
        "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
        "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
        "sInfoPostFix": "",
        "sDecimal": "",
        "sThousands": ",",
        "sLengthMenu": "每页显示条数: _MENU_",
        "sLoadingRecords": "正在载入...",
        "sProcessing": "正在载入...",
        "sSearch": "搜索:",
        "sSearchPlaceholder": "",
        "sUrl": "",
        "sZeroRecords": "没有相关记录"
    }
    $.fn.dataTable.defaults.oLanguage=oLanguage;
    $('#dataTables-example').DataTable({
            responsive: true,
            // iDisplayLength:3
    });
    });
    var pro = 10
    var timer = null
    timer = setInterval(function(){
        if (pro<100) {

        pro = pro*1.5

        $('#progress-reboot').css('width',pro+'%')
        }else{
            clearInterval(timer)
            $('#progress-reboot').addClass('hide')
        }

    },100)
    var is_right = true
    setInterval(function(){
        var t = $('#alertText')
        var left = parseInt(t.css('left'))
        var val
        if (is_right) {
            if (left<300) {
                val = left+1
                t.css('left',val)
            }else{
                is_right = false
            }
        }else{
            if (left>250) {
                val = left-1
                t.css('left',val)
            }else{
                is_right = true
            }

        }
        // if (left<300&&left>250) {
        //     t.css('left',left+1)
        // };
    },50)
    </script>


<script>
	$('#addmacBtn').click(function(){
		$('#addmacModal').modal('show')
	})
	    	$(document).on('click','.deletemac',function(){
	    		var id = $(this).data('id')
	    		$.get('/deletemac?id='+id,function(res){
	    			if (res == 'ok') {
	    				location.reload()
	    			};
	    		})
	    	})
	$('#confirmAddmacBtn').click(function(){
		var is_val = true
		$('#addmacForm').find('input').each(function(i,v){
			if (!$(v).val()) {
				$(v).after('<span class="text-danger">必填字段</span>')
				is_val = false
			}else{
				$(v).next().remove()
			}
		})
		if (is_val) {

		$.get('/addmac',$('#addmacForm').serialize(),function(data){
			if (data=='ok') {
				$('#tipModal').find('.modal-body').html('添加成功').end().modal('show')
			};
		})
		};

	})
 $("#addmacForm").validate()
</script>




</body>

</html>
