{% include 'base.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
              <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                  <div class="navbar-header">
                      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                      <form role="search" class="navbar-form-custom" method="get" action="">
                      </form>
                  </div>
                  {% include 'base1.html' %}
              </nav>
            </div>

<form class="form-inline"  method="post" action="/addidc/">
  <div class="form-group">
    <label for="exampleInputName2">idc名称</label>
    <input type="text" class="form-control" id="nameInput">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">备注</label>
    <input type="text" class="form-control"  id="msgInput">
  </div>
  <button type="button" class="btn  btn-primary"   style="color:bule" onclick="cmdrun(this);">添加</button>
</form>
<div style="color:#F00" text-align:'center' id='errorMsg'>

</div>


<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style='margin-top:20px;'>
<!--                         <div class="panel-heading">
                           idc信息
                            <button class='btn btn-default' id='addIdc'>添加idc</button>
                        </div> -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>idc名称</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

           {%for all_idc in all_idc %}
<tr>
	<td>{{all_idc.idc_name}}</td>
	<td>{{all_idc.remark}}</td>
	<td>
		<span class="btn btn-xs btn-primary" data-id='6'>
			<a href="/mac/check_host/?idc_name={{all_idc.idc_name}}" style='color:white'>查看</a>
		</span>&nbsp;&nbsp;
		<span class=" btn btn-xs btn-warning" data-id='6'>
		<a style='color:white'  onClick="update_idc('{{ all_idc.idc_name }}')";>编辑</a>
                </span>&nbsp;&nbsp;
                <span class="btn btn-xs btn-danger" data-id='6'>
            		<a style='color:white'  onClick="del_idc('/idc/idc_delete/?id={{ all_idc.id }}');">删除</a>
                            </span>&nbsp;&nbsp;
	</td>
</tr>
          {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

                {% include 'base2.html' %}


    </div>

  </div>




<div class="modal fade" id='addIdcModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div classp;"modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


                        <!-- <h1 class="page-header">Blank</h1> -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<!--添加失败 弹窗-->
<div class="modal fade" id='tipModal2'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加失败</h4>
      </div>
      <div class="modal-body" style="color:#F00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 添加成功的弹窗-->
<div class="modal fade" id='tipModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">成功</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--删除按钮弹窗-->
<div class="modal fade" id="tipModal3">
  <div class="modal-dialog">
    <div class="modal-content message_align">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">提示信息</h4>
      </div>
      <div class="modal-body">
        <p>您确认要删除吗？</p>
      </div>
      <div class="modal-footer">
         <input type="hidden" id="url"/>
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <a  onclick="urlSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--修改idc名称及备注-->
<div class="modal fade" id="tipModal4">
  <div class="modal-dialog">
    <div class="modal-content message_align">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">修改内容</h4>
      </div>
      <div class="modal-body">
      <form class="form-inline"  method="post" action="/idc/idc_update/">
      <div class="form-group">
      <label for="exampleInputName2">备注</label>
      <input type="text" class="form-control"  name="msgInput">
      <input type="hidden" class="form-control id" value=''  name="id">
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <a  onclick="urlupdate()" class="btn btn-success" data-dismiss="modal">保存</a>
      </div>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <script>
    $('#tipModal').on('hide.bs.modal',function(){
        location.reload()
    })
    $(function(){
           var oLanguage={
        "oAria": {
            "sSortAscending": ": 升序排列",
            "sSortDescending": ": 降序排列"
        },
        "oPaginate": {
            "sFirst": "首页",
            "sLast": "末页",
            "sNext": "下页",
            "sPrevious": "上页"
        },
        "sEmptyTable": "没有相关记录",
        "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
        "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
        "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
        "sInfoPostFix": "",
        "sDecimal": "",
        "sThousands": ",",
        "sLengthMenu": "每页显示条数: _MENU_",
        "sLoadingRecords": "正在载入...",
        "sProcessing": "正在载入...",
        "sSearch": "搜索:",
        "sSearchPlaceholder": "",
        "sUrl": "",
        "sZeroRecords": "没有相关记录"
    }
    $.fn.dataTable.defaults.oLanguage=oLanguage;
    $('#dataTables-example').DataTable({
            responsive: true,
            // iDisplayLength:3
    });
    });
    var pro = 10
    var timer = null
    timer = setInterval(function(){
        if (pro<100) {

        pro = pro*1.5

        $('#progress-reboot').css('width',pro+'%')
        }else{
            clearInterval(timer)
            $('#progress-reboot').addClass('hide')
        }

    },100)
    var is_right = true
    setInterval(function(){
        var t = $('#alertText')
        var left = parseInt(t.css('left'))
        var val
        if (is_right) {
            if (left<300) {
                val = left+1
                t.css('left',val)
            }else{
                is_right = false
            }
        }else{
            if (left>250) {
                val = left-1
                t.css('left',val)
            }else{
                is_right = true
            }

        }
        // if (left<300&&left>250) {
        //     t.css('left',left+1)
        // };
    },50)
    </script>

<script type="text/javascript">

function cmdrun(ele){
   if($('#nameInput').val()&&$('#msgInput').val()){
     var id=$(ele).attr("id");
  $.ajax({
    url:"/addidc/",
    data:{nameInput:$('#nameInput').val(),msgInput:$('#msgInput').val()},
    success:function(data){
     if (data=='ok') {
     $('#tipModal').find('.modal-body').html('添加成功').end().modal('show')
           }
     if (data=='exist') {
     $('#tipModal2').find('.modal-body').html('idc名称已存在').end().modal('show')
           }
      }

});
  }
    else{
        $('#errorMsg').html('*请输入idc名称和备注*')
    }

}
function del_idc(url){
     $('#url').val(url);
     $('#tipModal3').modal('show')
}
function urlSubmit(){
    var url=$.trim($("#url").val());
    window.location.href=url;
}
function update_idc(url){
    $('.form-inline .id').val(url);
    $('#tipModal4').modal('show')
}
function urlupdate(){
    $('.form-inline').submit();
}
</script>
