
{% include 'base.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
              <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                  <div class="navbar-header">
                      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                      <form role="search" class="navbar-form-custom" method="get" action="">
                      </form>
                  </div>
                  {% include 'base1.html' %}
              </nav>
            </div>
            <div class="row" style='margin-top:20px'>
            	<button class="btn btn-primary" id='addmacBtn' style='margin-left:20px'>添加机器</button>
            </div>

            <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default" style='margin-top:20px;'>
            <!--                         <div class="panel-heading">
                                       idc信息
                                        <button class='btn btn-default' id='addIdc'>添加idc</button>
                                    </div> -->
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="dataTable_wrapper">


                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>
            					    <th>编号</th>
                                                        <th>机器名</th>
                                                        <th>ip</th>
                                                        <th>机柜编号</th>
                                                        <th>机房</th>
                                                        <th>运行服务</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                 {%for all_host in all_host %}
            <tr>
            	<td id="bianhao">{{all_host.id}}</td>
            	<td id="host">{{all_host.hostname}}</td>
            	<td id="host_ip">{{all_host.ip}}</td>
            	<td id="jigui_bianhao">{{all_host.bianhao}}</td>
            	<td id="jifang">{{all_host.idc_name}}</td>
            	<td id="server">{{all_host.application}}</td>
            	<td>
            <span class="label label-primary hover deletemac"><a href="/mac/mac_edit/?id={{ all_host.id }}" style="color:white"  role="button">编辑</a></span>
            <span class=" btn btn-xs btn-danger"><a href="/mac/mac_delete/?id={{ all_host.id }}" style="color:white"  role="button">删除</a></span>
            	</td>
            </tr>
                 {%endfor%}
                                            </tbody>
                                            </table>

                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
            </div>



  {% include 'base2.html' %}
          </div>
</div>

<div class="modal fade" id='addmacModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加机器</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal"  method="post" action="/addmac/">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">机器名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id='name'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">ip地址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id='ip'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">机柜</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id='idc_jg'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">idc</label>
    <div class="col-sm-10">
    <select id="idc_name"  class="form-control">
			{%for all_idc in all_idc%}
			<option>{{all_idc.idc_name}}</option>
			{%endfor%}

    </select>
      <!-- <input type="text" class="form-control" name='ip'> -->
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">运行服务</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id='service'>
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary"  onclick="macadd(this);" >确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id='tipModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<script>
$('#tipModal').on('hide.bs.modal',function(){
    location.reload()
})
$(function(){
       var oLanguage={
    "oAria": {
        "sSortAscending": ": 升序排列",
        "sSortDescending": ": 降序排列"
    },
    "oPaginate": {
        "sFirst": "首页",
        "sLast": "末页",
        "sNext": "下页",
        "sPrevious": "上页"
    },
    "sEmptyTable": "没有相关记录",
    "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
    "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
    "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
    "sInfoPostFix": "",
    "sDecimal": "",
    "sThousands": ",",
    "sLengthMenu": "每页显示条数: _MENU_",
    "sLoadingRecords": "正在载入...",
    "sProcessing": "正在载入...",
    "sSearch": "搜索:",
    "sSearchPlaceholder": "",
    "sUrl": "",
    "sZeroRecords": "没有相关记录"
}
$.fn.dataTable.defaults.oLanguage=oLanguage;
$('#dataTables-example').DataTable({
        responsive: true,
        // iDisplayLength:3
});
});
var pro = 10
var timer = null
timer = setInterval(function(){
    if (pro<100) {

    pro = pro*1.5

    $('#progress-reboot').css('width',pro+'%')
    }else{
        clearInterval(timer)
        $('#progress-reboot').addClass('hide')
    }

},100)
var is_right = true
setInterval(function(){
    var t = $('#alertText')
    var left = parseInt(t.css('left'))
    var val
    if (is_right) {
        if (left<300) {
            val = left+1
            t.css('left',val)
        }else{
            is_right = false
        }
    }else{
        if (left>250) {
            val = left-1
            t.css('left',val)
        }else{
            is_right = true
        }

    }
    // if (left<300&&left>250) {
    //     t.css('left',left+1)
    // };
},50)
</script>


<script>
$('#addmacBtn').click(function(){
$('#addmacModal').modal('show')
})
    $(document).on('click','.deletemac',function(){
      var id = $(this).data('id')
      $.get('/deletemac?id='+id,function(res){
        if (res == 'ok') {
          location.reload()
        };
      })
    })
$('#confirmAddmacBtn').click(function(){
var is_val = true
$('#addmacForm').find('input').each(function(i,v){
  if (!$(v).val()) {
    $(v).after('<span class="text-danger">必填字段</span>')
    is_val = false
  }else{
    $(v).next().remove()
  }
})
if (is_val) {

$.get('/addmac',$('#addmacForm').serialize(),function(data){
  if (data=='ok') {
    $('#tipModal').find('.modal-body').html('添加成功').end().modal('show')
  };
})
};

})

</script>
<script type="text/javascript">

function macadd(ele){
if($('#name').val()&&$('#ip').val()&&$('#idc_jg').val()&&$('#idc_name').val()&&$('#service').val()){
 var id=$(ele).attr("id");
$.ajax({
url:"/addmac",
data:{name:$('#name').val(),ip:$('#ip').val(),idc_jg:$('#idc_jg').val(),idc_name:$('#idc_name').val(),service:$('#service').val()},
success:function(data){
 if (data=='ok') {
 $('#tipModal').find('.modal-body').html('添加成功').end().modal('show')
       }
  }
});
}}
</script>
