{% include 'base.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
              <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                  <div class="navbar-header">
                      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                      <form role="search" class="navbar-form-custom" method="get" action="">
                      </form>
                  </div>
                  {% include 'base1.html' %}
              </nav>
            </div>

<form class="form-inline"  method="post" action="/oprationfile_result">
  <div class="form-group">
    <label for="exampleInputName2">主机名</label>
    <select class="form-control" name="hostInput" id="hostname">
      {% for host in all_host %}
         {% if host.hostname  = hostname %}
                <option selected="selected">{{ hostname }}</option>
            {% else %}
                <option>{{ host.hostname }}</option>
            {% endif %}
        {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">目录路径</label>
    <input type="text" id="path" class="form-control" name="filepath"  placeholder="如：/tmp/" value={{ path }} >
  </div>
  <button type="submit" class="btn btn-primary">列出文件</button>
</form>
<div style="color:#F00" text-align:'center'>
 {{ mes }}
</div>
<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style='margin-top:20px;'>
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                	    <th>文件名</th>
                                      <th>文件大小(KB)</th>
                                      <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

{%for k,v in files.items%}
<tr>
  <td class="filename"> {{ k }}</td>
  <td id="filesize"> {{ v }} </td>
  <td>
  <span class="btn btn-xs btn-primary" data-id='6'>
    <a style='color:white' onclick="check_file(this);">
        <input type="hidden" value={{ k }} class='filename'>查看</a>
</span>&nbsp;
<span  class="btn btn-xs btn-primary" data-id='6'>
<a style='color:white' onclick="downfile(this)">
<form style="display:hidden"  method="post" action="/download_result/" class="thisForm">
<input type="hidden" value={{ k }} name='filename'>
<input type="hidden" value={{ hostname }} name='hostname'>
<input type="hidden" value={{ path }} name='path'>
</form>
下载</a>
</span>
<!--span  class="btn btn-xs btn-primary" data-id='6'>
  <a style='color:white' onclick="down_file(this);" >
      <input type="hidden" value={{k}} class='filename'>下载</a>
</span-->&nbsp;
<span class="btn btn-xs btn-warning" data-id='6'>
 <a style='color:white' onclick="update_file(this);" >
     <input type="hidden" value={{k}} class='filename'>编辑</a>
</span>
	</td>
</tr>
  {%endfor%}

                               </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
              </div>
              {% include 'base2.html' %}
  </div>
</div>

<div class="modal fade" id='checkfile'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="hostname">
        </h4>
      <span class="filepath">
      </span>
      </div>
      <div>
        <textarea name="content" cols="80%" rows="30%" class="content"></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id='updatefile'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <form class="m-t" role="form" method="post" action="/oprationfile_update/">
          <div class="form-group">
              主机:<input type="text" name="hostname" class="hostname"  placeholder="hostname" readonly>
          </div>
          <div class="form-group">
            路径:<input type="text" name="filepath" class="filepath"  placeholder="filepath" readonly>
          </div>
          </div>
          <textarea name="content" cols="80%" rows="30%" class="content" ></textarea>
      <div class="modal-footer">
          &nbsp;&nbsp;<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary">保存</button>
      </div>
      </form>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
function check_file(ele){
         $.ajax({
             url:"/oprationfile_check",
             data:{hostname:$('#hostname').val(),filename:$(ele).find('.filename').val(),path:$('#path').val()},
             success:function(data){
             if (data) {
               var obj = JSON.parse(data);
               content=obj.content.replace(/\n/g,'</br>');
               $('#checkfile').find('.hostname').html("主机:" + obj.hostname);
               $('#checkfile').find('.filepath').html("路径:" + obj.filepath);
               $('#checkfile').find('.content').html(obj.content);
               $('#checkfile').modal('show');
              }
	     }
	});
     }
function update_file(ele){
  $.ajax({
      url:"/oprationfile_check",
      data:{hostname:$('#hostname').val(),filename:$(ele).find('.filename').val(),path:$('#path').val()},
      success:function(data){
      if (data) {
        var obj = JSON.parse(data);
        content=obj.content.replace(/\n/g,'</br>');
        $('#updatefile').find('.hostname').val(obj.hostname);
        $('#updatefile').find('.filepath').val(obj.filepath);
        $('#updatefile').find('.content').html(obj.content);
        $('#updatefile').modal('show');
       }
}
});
}
function down_file(ele){
  var hostname = $('#hostname').val();
  var path = $('#path').val();
  var filename = $(ele).find('.filename').val();
  var dir = path + filename
  $.ajax({
      type:"POST",
      dataType:"html",
      url:"/download_result/",
      cache: false,
      data:{hostname:hostname,dir:dir},
      success: function(result, statues, xml){

      },
});
}
function downfile(ele){
    $(ele).find('.thisForm').submit()
}
</script>
